@page "/products"
@inject IUserService userService
@inject ApiServices apiService
@inject IDataSerializer? DataSerializer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer


<AuthorizeView>
    <Authorized>
<h3>Products</h3>
</Authorized>
<NotAuthorized>
        @{
            Navigation.NavigateTo("/login", replace: true);
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = null!;
}
